@using Karyon.Models
@using Microsoft.AspNetCore.Http;

<div class="col-lg-2 col-md-3 col-sm-3 text-start">

    <div class="isotope-filters filters-vertical ms-sm-1 ms-lg-4 text-start">
        <a href="/Home/DashBoard">DashBoard</a>
        <a href="/Associate/Tree">Tree</a>
       
        @*<button data-filter="">DashBoard</button>
        <button data-filter="">Premium </button>
        <button data-filter="">Slider </button>
        <button data-filter="">Hero Scene </button>
        <button data-filter="">Timer </button>
        <button data-filter="">Carousel </button>
        <button data-filter="">Auto Size </button>
        <button data-filter="">FullWidth  </button>
        <button data-filter="">Full Screen </button>
        <button data-filter="">Tabs </button>
        <button data-filter="">Scroll Navigation </button>
        <button data-filter="">Menu Page</button>
        <button data-filter="">Front Page</button>
        <button data-filter="">Social Stream</button>
        <button data-filter="">Social Content</button>
        <button data-filter="">Parallax </button>
        <button data-filter="">HTML5 Video</button>
        <button data-filter="">Youtube Video</button>
        <button data-filter="">Vimeo Video</button>*@
    </div>
</div>







