@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}
<link rel="stylesheet" href="~/WebsiteCss/css/about.min.css" />

    <div class="page_main container-fluid">
        <div class="container">
            <h1 class="page_header">About</h1>
            <p class="page_text"></p>
        </div>
    </div>
    <div class="container">
        <ul class="page_breadcrumbs d-flex flex-wrap">
            <li class="page_breadcrumbs-item">
                <a class="link" href="/Home/Index">Home</a>
            </li>

            <li class="page_breadcrumbs-item current">
                <span>About</span>
            </li>
        </ul>
    </div>

<main>
    <section class="about section--nopb mb-5">
        <div class="container">
            <div class="about_main d-lg-flex justify-content-between">
                <div class="about_main-content col-lg-6 col-xl-auto">
                    <h2 class="about_main-content_header">
                        The Word N Commitment
                    </h2>
                    <p class="about_main-content_text">
                        Karyon Organic has a vision to protect the natural soil & environment in its entity in order to produce nutritious crop through their quality manufacturing & marketing appreciated techniques in an accelerated manner together with education programm for farming community so as to get the maximum yield.
                    </p>
                    <p class="about_main-content_text">
                        Karyon Organic has emerged as one of the leading manufacturers and promoters of organic manures in Indian market with an inspiration to come on International Platform as well soon. The subject of”Hidden Hunger Syndrome” is widely broadcast by World Health Organization for developing countries very well known by people of India and in other parts of the world. Karyon Organic came up with a stabilized solution to erase this despair.
                    </p>
                    <p class="about_main-content_text">
                        Very dedicated & trained persons who have better approach towards the nature and good health are joining with our team at an intensify rate which is called wealth. With our short simple extracted studied program, we can teach the farmers and make them learnt on easy steps about the features of sustainable agriculture together with non-farming associates.
                    </p>
                </div>
                <div class="about_main-media">
                    <picture>
                        <source data-srcset="../../WebsiteCss/img/Abouts-us.png" srcset="../../WebsiteCss/img/Abouts-us.png" type="image/png" />
                        <img class="lazy" data-src="../../WebsiteCss/img/Abouts-us.png" src="../../WebsiteCss/img/Abouts-us.png" alt="media" />
                    </picture>
                </div>
            </div>
            <ul class="about_numbers d-flex flex-wrap">
                <li class="about_numbers-group col-sm-6 col-lg-3" data-order="1">
                    <div class="wrapper d-flex flex-column align-items-center align-items-sm-start">
                        <span class="countNum number d-flex align-items-center secondary" data-suffix="+" data-value="180">0</span>
                        <p class="number-label">New products to explore. Arcu vitae elementum curabitur vitae nunc sed</p>
                    </div>
                </li>
                <li class="about_numbers-group col-sm-6 col-lg-3" data-order="2">
                    <div class="wrapper d-flex flex-column align-items-center align-items-sm-start">
                        <span class="countNum number d-flex align-items-center secondary" data-suffix="X" data-value="3">0</span>
                        <p class="number-label">Quis risus sed vulputate odio ut. Arcu vitae elementum curabitur vitae nunc</p>
                    </div>
                </li>
                <li class="about_numbers-group col-sm-6 col-lg-3" data-order="3">
                    <div class="wrapper d-flex flex-column align-items-center align-items-sm-start">
                        <span class="countNum number d-flex align-items-center secondary" data-suffix="%" data-value="100">0</span>
                        <p class="number-label">Mauris a diam maecenas sed enim ut sem curabitur vitae nunc sed</p>
                    </div>
                </li>
                <li class="about_numbers-group col-sm-6 col-lg-3" data-order="4">
                    <div class="wrapper d-flex flex-column align-items-center align-items-sm-start">
                        <span class="countNum number d-flex align-items-center secondary" data-suffix="K" data-value="11">0</span>
                        <p class="number-label">Quis risus sed vulputate odio ut. Arcu vitae elementum curabitur vitae nunc</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>