@{
    ViewData["Title"] = "CancellationPolicy";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}
<link rel="stylesheet" href="~/Websitecss/css/contacts.min.css" />
<header class="page">
    <div class="page_main container-fluid">
        <div class="container">
            <h1 class="page_header">Cancellation Policy</h1>
            <p class="page_text"></p>
        </div>
    </div>
    <div class="container">
        <ul class="page_breadcrumbs d-flex flex-wrap">
            <li class="page_breadcrumbs-item">
                <a class="link" href="/Home/Index">Home</a>
            </li>

            <li class="page_breadcrumbs-item current">
                <span>Cancellation Policy</span>
            </li>
        </ul>
    </div>
</header>
<main>
    <section class="page-section-ptb white-bg">
        <div class="container mt-5  mb-5">
            <div class="row">
                <div class="col-md-12">

                    <p class="mb-2">
                        There is no cancellation policy once you buy the product then product can not be return back.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

