@model Karyon.Models.LoginResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginFromAdminPanel</title>
</head>
<body>

<h4>LoginResponse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <p style="color:red">@TempData["AutoLogin"] </p>
    </div>
</div>

<div>
    
</div>

</body>
</html>
