
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}
<link rel="stylesheet" href="~/websitecss/css/team.min.css" />

            <div class="page_main container-fluid">
                <div class="container">
                    <h1 class="page_header">Services</h1>
                    <p class="page_text"></p>
                </div>
            </div>
            <div class="container">
                <ul class="page_breadcrumbs d-flex flex-wrap">
                    <li class="page_breadcrumbs-item">
                        <a class="link" href="/Home/Index">Home</a>
                    </li>

                    <li class="page_breadcrumbs-item current">
                        <span>Services </span>
                    </li>
                </ul>
            </div>