@model Karyon.Models.Registration

@{
    ViewData["Title"] = "GetPincodeFranchise";
    Layout = "~/Views/Shared/_AssociateLayout.cshtml";
}
<form asp-action="GetPincodeFranchise">

    <div class="page-body">
        <div class="container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-sm-6 ps-0">
                        <h3>Franchise</h3>
                    </div>
                    <div class="col-sm-6 pe-0">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">
                                    <svg class="stroke-icon">
                                        <use href="../../associatepanel/assets/svg/icon-sprite.svg#stroke-home"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="breadcrumb-item">Franchise</li>
                            @*<li class="breadcrumb-item active"> Familyn Wallet Request</li>*@
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- /breadcrumb -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">


                        <div class="row">
                            <div class="section-field mb-20 col-sm-3">
                                <label class="mb-10" for="name">Pincode </label>
                                <input type="text" asp-for="Pincode" class="web form-control" placeholder="LoginId" maxlength="50" />

                            </div>

                            <div class="section-field mb-10 col-sm-3">
                                <br />
                                <input type="submit" class="btn btn-success" id="BtnSearch" name="BtnSearch" style="" value="Get Franchise">
                            </div>
                        </div>
                        <br />
                        <div class="table-responsive">
                            <table class="table table-striped" id="MyDirectList">
                                <thead>
                                    <tr>
                                        <th>S. No.</th>

                                        <th>Name</th>
                                        <th>Contact No</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {

                                        if (Model.dtDetails != null)
                                        {

                                            for (int j = 0; j <= Model.dtDetails.Rows.Count - 1; j++)
                                            {
                                                <tr>
                                                    <td>@(j + 1)</td>
                                                    <td><span>@Model.dtDetails.Rows[j]["Name"]</span></td>
                                                    <td>@Model.dtDetails.Rows[j]["Mobile"]</td>

                                                </tr>

                                            }

                                        }
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>