@model Karyon.Models.CreateOrder

@{
    ViewData["Title"] = "PackPurchase";
    Layout = "~/Views/Shared/_AssociateLayout.cshtml";
}
<style>
    .card{
        border: 2px solid #8bc34a !important;
        box-shadow: none !important;
    }
</style>

    <div class="page-body">
        <div class="container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-sm-6 ps-0">
                        <h3>Pack Purchase</h3>
                    </div>
                    <div class="col-sm-6 pe-0">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">
                                    <svg class="stroke-icon">
                                        <use href="../../associatepanel/assets/svg/icon-sprite.svg#stroke-home"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="breadcrumb-item">Pack Purchase</li>
                            @*<li class="breadcrumb-item active"> Reward Reports</li>*@
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    <!-- /breadcrumb -->

    <div class="row">
        <div class="col-xxl-12 col-xl-12">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="card" style="height: 200px;background: linear-gradient(45deg, #ffbf3b, transparent);">
                        <a href="/Associate/PlacePack?Id=@Crypto.Encrypt("123999")">
                            <div class="card-body">
                                <div class="d-flex flex-column mb-0">

                                    <div class="flex-1">
                                        <div class="mb-2">
                                            <h1 style="text-align: center;font-size: 30px;color: #6a813b;" class="mb-0 numberfont"><b>Business Legend (123999)</b></h1>
                                        </div>
                                        <div class="" style="text-align:center">
                                            <p class="mb-0" style="font-size: 19px;">Offer : Purchase 123999 DP Products (+GST extra)  get Legend Program Entry Pass and 25000 FUP Points Wallet. </p>

                                        </div>
                                        <hr/>
                                        <p style="color: #525b4f;text-align:center">Note : Kindly Note That Goa legend program attendance are compulsory to get 25000 FUP Points wallet.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="card" style="height: 200px;background: linear-gradient(45deg, #adc087, transparent);">
                        <a href="/Associate/PlacePack?Id=@Crypto.Encrypt("25935")">
                            <div class="card-body">
                                <div class="d-flex flex-column mb-0">

                                    <div class="flex-1">
                                        <div class="mb-2">
                                            <h1 style="text-align: center;font-size: 30px;color: #6a813b;" class="mb-0 numberfont"><b>Business Legend (25935)</b></h1>
                                        </div>
                                        <div style="text-align:center">
                                            <p class="mb-0" style="font-size: 18px;">Offer : Purchase 25935 DP Products x 5 times  (+GST extra)  get Legend Program Entry Pass and 25000 FUP Points Wallet. </p>

                                        </div>
                                         <hr/>
                                        <p style="color: #525b4f;text-align:center;">Note : Kindly Note That Goa legend program attendance are compulsory to get 25000 FUP Points wallet , less then 5 purchase will not applicable for  offer.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                @*<div class="col-xl-4 col-lg-4">
                    <div class="card"  style="height: 200px">
                        <a href="/Associate/PlacePack?Id=@Crypto.Encrypt("5000")">
                            <div class="card-body">
                                <div class="d-flex flex-column mb-0">

                                    <div class="flex-1">
                                        <div class="mb-2">
                                            <h1 style="text-align: center;font-size: 54px;color: #6a813b;" class="mb-0 numberfont"><b>5000 PV</b></h1>
                                        </div>
                                        <div style="text-align:center">
                                            <p class="mb-0" style="font-size: 19px;">Platinum Pack</p>

                                        </div>
                                         <hr/>
                                          <p style="color: #525b4f;text-align:center">Note : Platinum Pack and Get 25000  FUP Wallet</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>

