@model Karyon.Models.Registration

@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_AssociateLayout.cshtml";
}
<form asp-action="Registration" enctype="multipart/form-data">

    <div class="page-body">
        <div class="container-fluid">
            <div class="page-title">
                <div class="row">
                    <div class="col-sm-6 ps-0">
                        <h3>Registration</h3>
                    </div>
                    <div class="col-sm-6 pe-0">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">
                                    <svg class="stroke-icon">
                                        <use href="../../associatepanel/assets/svg/icon-sprite.svg#stroke-home"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="breadcrumb-item">My Accounts</li>
                            <li class="breadcrumb-item active"> Registration</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">



                <div class="row">

                    <div class="col-md-6">
                        <label class="form-label">Referal Id</label>
                        <input type="text" asp-for="SponsorLoginId" class="web form-control" placeholder="Referal Id" onchange="return GetSponsorName();" />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Referal Name </label>
                        <input class="web form-control" type="text" placeholder="Referal Name" id="SponsorName" disabled />
                    </div>
                </div>
                <br />
                @*<div class="row">
                    <div class="col-md-12">
                        @if (Model != null)
                        {
                            if (Model.Leg == "L")
                            {
                                <input type="radio" id="rdbLegL" name="rdbLeg" value="L" checked /> <span>&nbsp;&nbsp;Zone A</span>
                                <input type="radio" id="rdbLegR" name="rdbLeg" value="R" /> <span>&nbsp;&nbsp;Zone B</span>
                            }
                            else
                            {
                                <input type="radio" id="rdbLegL" name="rdbLeg" value="L" /> <span>&nbsp;&nbsp;Zone A</span>
                                <input type="radio" id="rdbLegR" name="rdbLeg" value="R" checked /> <span>&nbsp;&nbsp;Zone B</span>
                            }
                        }
                        else
                        {
                            <input type="radio" id="rdbLegL" name="rdbLeg" value="L" checked /> <span>&nbsp;&nbsp;Zone A</span>
                            <input type="radio" id="rdbLegR" name="rdbLeg" value="R" /> <span>&nbsp;&nbsp;Zone B</span>
                        }
                    </div>
                    <input type="hidden" asp-for="Leg" />
                </div>*@
                <br />
                <div class="row">

                    <div class="col-md-4">
                        <label class="form-label">First Name </label>
                        <input type="text" asp-for="FirstName" class="web form-control" placeholder="First Name" maxlength="50" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Middle Name </label>
                        <input type="text" asp-for="MiddleName" class="web form-control" placeholder="Middle Name" maxlength="50" />
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Last Name </label>
                        <input class="web form-control" type="text" placeholder="Last name" asp-for="LastName" maxlength="50" />
                    </div>
                </div>
                <br />
                <div class="row">

                    <div class="col-md-6">
                        <label class="form-label">Email </label>
                        <input type="email" placeholder="Email*" class="form-control" asp-for="Email" maxlength="50" />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Mobile No. </label>
                        <input type="number" placeholder="Mobile No*" class="form-control" asp-for="MobileNo" maxlength="10" min="1" />
                    </div>
                </div>
                <br />
                <div class="row">

                    <div class="col-md-6">
                        <label class="form-label">Password </label>
                        <input type="password" placeholder="Password*" class="form-control" asp-for="Password" />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Confirm Password </label>
                        <input type="password" placeholder="Password*" class="form-control" id="ConfirmPassword" />
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-6">
                        <label class="form-label">Pancard </label>
                        <input type="text" placeholder="Pancard*" class="form-control" asp-for="PanCard" maxlength="10" />
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Upload Pancard</label>
                        <input type="file" asp-for="ImageFile" class="form-control" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" id="btnRegister" name="btnRegister" value="Register" class="btn btn-success" onclick="return Fvalidate();" />
                    </div>
                    <p style="color:red">@TempData["Registraion"]</p>
                </div>
            </div>
        </div>
    </div>


</form>
<!-- jquery -->
<script src="~/assets/js/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        if ($('#SponsorLoginId').val() != "") {
            GetSponsorName();
        }

    });
    function GetSponsorName() {
        $(".errortext").removeClass("errortext");
        $('#pre-loader').show();
        $.ajax({
            url: '/Home/GetSponsorName',
            type: 'Post',
            data: { SponsorId: $('#SponsorLoginId').val() },
            success: function(response) {
                if (response != null) {
                    console.log(response);
                    if (response.status == 1) {
                        $('#SponsorName').val(response.response.name);
                    }
                    else {
                        $('#SponsorLoginId').val('');
                        $("#SponsorLoginId").addClass('errortext');
                        $('#SponsorLoginId').focus();
                        alert(response.message);

                    }

                    $("#pre-loader").hide();

                }
                else {
                    $("#pre-loader").hide();
                }
            }, error: function() {
                //alert('Some Thing wrong!');
                $("#pre-loader").hide();

            }
        });
    }
    function GetStateCity() {
        ;
        $(".errortext").removeClass("errortext");
        $("#pre-loader").show();
        $.ajax({
            url: '/Home/GetStateCity',
            type: 'Post',
            data: { PinCode: $('#Pincode').val() },
            success: function(response) {
                if (response != null) {
                    console.log(response);
                    if (response.status == 1) {
                        $('#State').val(response.response.state);
                        $('#City').val(response.response.city);
                    }
                    else {
                        $('#Pincode').val('');
                        $("#Pincode").addClass('errortext');
                        $('#Pincode').focus();
                        alert(response.message);

                    }

                    $("#pre-loader").hide();

                }
                else {
                    $("#pre-loader").hide();
                }
            }, error: function() {
                //alert('Some Thing wrong!');
                $("#pre-loader").hide();

            }
        });
    }
    function Fvalidate() {
        $(".errortext").removeClass("errortext");
        if ($('#SponsorLoginId').val() == "") {
            $("#SponsorLoginId").addClass('errortext');
            $('#SponsorLoginId').focus();
            return false;
        }
        if ($('#FirstName').val() == "") {
            $("#FirstName").addClass('errortext');
            $('#FirstName').focus();
            return false;
        }
        if ($('#LastName').val() == "") {
            $("#LastName").addClass('errortext');
            $('#LastName').focus();
            return false;
        }
        if ($('#Email').val() == "") {
            $("#Email").addClass('errortext');
            $('#Email').focus();
            return false;
        }
        if ($('#MobileNo').val() == "") {
            $("#MobileNo").addClass('errortext');
            $('#MobileNo').focus();
            return false;
        }
        if ($('#Password').val() == "") {
            $("#Password").addClass('errortext');
            $('#Password').focus();
            return false;
        }
        if ($('#ConfirmPassword').val() != $('#Password').val()){
            $("#ConfirmPassword").addClass('errortext');
            alert("Password and Confirm Password should be same");
            $('#ConfirmPassword').focus();
            return false;
        }
        if ($('#Pancard').val() == "") {
            $("#Pancard").addClass('errortext');
            $('#Pancard').focus();
            return false;
        } 
        if ($('#ImageFile').val() == "") {
            $("#ImageFile").addClass('errortext');
            $('#ImageFile').focus();
            return false;
        }
        var Leg = $('input[name="rdbLeg"]:checked').val();
        $('#Leg').val(Leg);
        $("#pre-loader").show();
    }
</script>
